<h1 class="center"> Welcome to the Home Page of Agora Blog </h1>

<div class="center jumbotron">
  <h1>AGORA BLOG</h1>
  <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>
