<h1>Showing selected Category</h1>

<p>
  Name: <%= @category.name %>
</p>

<% if @current_user.present? && @current_user.admin? %>

      <%= link_to "Edit category name", edit_category_path(@category) %>
<% end %>

<%= render 'articles/article', obj: @category.articles %>
